{% extends "admin/change_list.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% block content_title %}{% endblock %}


{% block content %}
<style type="text/css">
.data-box {
    display: inline-block;
    float: left;
    width: 33%;
    line-height: 40px;
    text-align: center;
    border-right: #eee solid 1px;
}

.data-box:last-child {
    border-right: none;
}

.data-box span {
    display: block;
    font-size: 30px;
}

#content textarea, 
#content input, 
#content select {
    margin: 0px !important;
}
</style>
<div class="row">
    <div class="col-md-12">
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-body">
                <div class="tab-content">
                    <div class="data-box">
                        {% trans "Today" %}
                        <span id="count_today"></span>
                    </div>
                    <div class="data-box">
                        {% trans "Yesterday" %}
                        <span id="count_yesterday"></span>
                    </div>
                    <div class="data-box">
                        {% trans "All" %}
                        <span id="count_all"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4" style="line-height:34px;">
                        {{ opts.verbose_name_plural}} {% trans "Increment Trends" %}
                    </div>
                    <div class="col-md-8">
                        <div class="input-group registration-date-time">
                            <span class="input-group-addon" id="basic-addon1">{% trans "Group time" %}</span>
                            <select class="form-control" name="step" id="time_step">
                                <option value="hour">{% trans "Hourly" %}</option>
                                <option value="day" selected="selected">{% trans "Daily" %}</option>
                                <option value="week">{% trans "Weekly" %}</option>
                                <option value="month">{% trans "Monthly" %}</option>
                                <option value="year">{% trans "Annually" %}</option>
                            </select>
                            <span class="input-group-addon" id="basic-addon1">{% trans "Date:" %}</span>
                            <input class="form-control datepicker" name="from" id="time_from" type="text">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="rerender"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>{% trans "Go" %}</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="DateUserUp">
                        <div id="chart_line" style="width: 100%; height: 500px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(function () {
        var line_chart = echarts.init(document.getElementById('chart_line'));
        function fetch_and_render(params) {
            var search = $.param(params || {});
        }
        fetch_and_render();
        $('#rerender').on('click', function () {
            fetch_and_render({
                'step': $('#time_step').val(),
                'from': $('#time_from').val(),
            });
            return false;
        });
        $('.datepicker').datetimepicker({
            format: 'yyyy-mm-dd', autoclose: true, minView: 2
        });
    });
</script>
{% endblock %}
